<table class="table table-hover table-bordered">
  <tr>
    <th>Name</th>
    <th>Status</th>
  </tr>
  <% @business.neighborhoods.each do |neighborhood| %>
    <tr>
      <td><%= neighborhood.name %></td>
      <td>Joined</td>
    </tr>
  <% end %>
  <% ((@neighborhoods - @requested_neighborhoods) - @business.neighborhoods).each do |neighborhood| %>
    <tr>
      <td><%= neighborhood.name %></td>
      <td><%= button_to "Request", business_join_request_url(@business, neighborhood.id), class: :post, remote: true %></td>
    </tr>
  <% end %>
  <% @requested_neighborhoods.each do |neighborhood| %>
    <tr>
      <td><%= neighborhood.name %></td>
      <td>Pending...</td>
    </tr>
  <% end %>
</table>
