<div class="container">

  <div class="row vert-half">
    <div class="col-xs-6">
      <%= render partial: 'create_ad', locals: { categories: @categories } %>
    </div>
  </div>

  <div class="row vert-half">
    <div class="col-md-6">
      <%= render partial: 'ad_list', locals: { categories: @categories } %>
    </div>
    <div class="col-md-6">
      This is where the statistics will go
    </div>

  </div>
</div>
