
<hr>
<div class="create-message">
  <%= form_tag(create_direct_message_url(@to_user)) do %>   
     <div class="field">
          <%= text_area_tag :body,nil, placeholder: 'message',:id=>"mytext",:class=>"myPost"%>
          <%= file_field_tag :image_url, type:"file"%> 
          <br>
          <%= submit_tag "Send", class: 'btn linky' %>
        <hr>
      </div>
  <% end %>
</div>
<script>
var count= 1;
var chars= 22;
	$('#mytext').keydown(function() {
        var v = $(this).val();
        var vl = v.replace(/(\r\n|\n|\r)/gm,"").length;   
    if (parseInt(vl/count) == chars) {
        $(this).val(v + '\n');
    count++;
    }
});
</script>
<script>
  $(":file").filestyle({
    input: false
  })
  $("span label").removeClass("glyphicon glyphicon-folder-open"); 
  $("span label").text("");
  $("span label").addClass("glyphicon glyphicon-camera");
  $("span label").removeClass("btn btn-default");
</script>
