<div class="message">
  <div class="from">
		<div class="talk-bubble tri-right round btm-left">
		  <div class="talktext">
		    <p class="messageSent"><%= direct_message.body %></p>
		  </div>
		</div>
		<br>
		<strong><%= direct_message.from.name %></strong>
	
<br>
	