<p></p>


<div class="input-group"> <span class="input-group-addon"><i class='glyphicon glyphicon-search'></i></span>

   <input id="filter" type="text" class="form-control" placeholder="Find user...">
   </div>
   <br>
<table class="table table-striped">
  <thead >
    <tr>
      <th>Neighbors</th>
    </tr>
  </thead>

  <tbody class="searchable">
     <% @current_member.neighborhood.users.each do |user| %>
      <tr>
        <td><%= user.name %> <%= link_to '', direct_message_url(user.id),:class=>"glyphicon glyphicon-circle-arrow-right pull-right" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }($));

});
</script>
