<div>
  <h3>Direct Message</h3>

  <div>
    <% @current_member.neighborhood.users.each do |user| %>
      <% unless @current_member.id == user.id %>
        <%= render partial: 'direct_messages/user', locals: {user: user} %>
      <% end %>
    <% end %>
  </div>
</div>
