<%= render 'navbar' %>
<br />
<br />
<br />
<br />
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#a" data-toggle="tab">Users</a></li>
    <li><a href="#b" data-toggle="tab">Businesses</a></li>
    <li><a href="#c" data-toggle="tab">Agencies</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="a">      
      <%= render 'admins/prospective_users' %>
    </div>
    <div class="tab-pane" id="b">
      <%= render 'admins/prospective_businesses' %>
    </div>
    <div class="tab-pane" id="c">
      <%= render 'admins/prospective_agencies' %>
    </div>
  </div>
</div>
