<div class="comment">
  <p><%= comment.body %></p>
  <p><%= image_tag(comment.image_url, :width => 120,:height=>120,class:" img-center col-xs-offset-1") if comment.image_url.present?  %></p>
  <p><%= link_to "", like_comment_path(comment), method: :put,:class=>'glyphicon glyphicon-hand-right likes' %><%= comment.likes.count %> </p>
</div>
