<div class="comment">
  <p><%= comment.body %></p>
  <p><%= link_to "", like_comment_path(comment), method: :put,:class=>'glyphicon glyphicon-hand-right likes' %><%= comment.likes.count %> </p>
</div>
