  <%= fields_for :temp_neighborhood, @temp_neighborhood do |f| %>
    <hr class="hrNR">
    <div class="input-group">
      <div class="field">
              <%= f.text_area :name,:class=>"myPost",placeholder: 'Type Name here...'%>
      </div>
      <hr>
      <div class="field">
        <%= f.text_area :address,:class=>"myPost",placeholder: 'Type address here...'%>
      </div>
    </div>
  <% end %>
