<div class="col-md-6">
  <h1>Users waiting approval</h1>
  <% @temp_users.each do |user| %>
    <%= user.name %><br />
  <% end %>
</div>

<div class="col-md-6">
  <h2>Hoods waiting approval</h2>
</div>
