
<div class="create-message">
  <%= form_tag(group_create_message_url(@group)) do %>
    <div class="input-group">
        <%= text_field_tag :body, nil, placeholder: 'message' %>
        <%= submit_tag "Send", class: 'btn linky' %>
    </div>
  <% end %>
</div>
