<div>
  <h3>Create Group</h3>
  
  <%= form_tag(groups_url) do %>
    <div class="input-group">
      <div>
      <hr>
        <%= text_field_tag :name, nil, placeholder: 'Group Name',class:"myPost" %>
      <hr>
        <%= submit_tag "Create", class: 'btn linky' %>
      </div> 
    </div>
  <% end %>
</div>
