<p id="notice"><%= notice %></p>

<div class="col-xs-4">
  <%= render partial: 'create_group' %>

  <%= render partial: 'group_list' %>
</div>

<div class="col-xs-8">
  <h2>Please select a group</h2>
</div>
