<div class="alert alert-info" role="alert">
  <%= advertisement.body %>
  <br />
  <small>
    <%= advertisement.created_at.strftime("%A, %B #{advertisement.created_at.day.ordinalize} - %l:%M%P") %>
  </small>
</div>
