
<%= render partial:'welcome/navbar'%>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
	<p> Github:https://github.com/VSU-CS-Senior-Seminar/Semester-Project-for-Vargas-Cliatt-Whelean-Sanger</p>
	<iframe src="https://github.com/VSU-CS-Senior-Seminar/Semester-Project-for-Vargas-Cliatt-Whelean-Sanger" class"browser"></iframe>
</div>


<%= render partial:'footer'%>
