
<%= render partial:'welcome/navbar'%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
</head>

<embed src="sm.docx"" width="800px" height="2100px">


<%= render partial:'footer'%>
