<!-- Pato will make this look pretty

This is the login page. There will be a sidebar of
tabs that connect to the area where the user enters
his/her credentials (email and password). The tabs
should have images on them in the final product,
but for the demo we could have just text to show
which tabs correlate to which login state. There
will be four tabs: user, admin, agency, business.

-->

<div class="container v-center">
  <div class="tabbable tabs-left">
    <div class="col-sm-2">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#a" data-toggle="tab">
            <span class="glyphicon-user glyphicon"></span>
          </a>
        </li>
        <li>
          <a href="#b" data-toggle="tab">
            <span class="glyphicon-tag glyphicon"></span>
          </a>
        </li>
        <li>
          <a href="#c" data-toggle="tab">
            <span class="glyphicon-flash glyphicon"></span>
          </a>
        </li>
        <li>
          <a href="#d" data-toggle="tab">
            <span class="glyphicon-cog glyphicon"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 tab-content">
      <div class="tab-pane active" id="a">
        <%= render partial:'login_form', locals: { title: 'User', url: login_path } %>
      </div>
      <div class="tab-pane" id="b">
        <%= render partial:'login_form', locals: { title: 'Buisiness', url: '#' } %>
      </div>
      <div class="tab-pane" id="c">
        <%= render partial:'login_form', locals: { title: 'Agency', url: '#' } %>
      </div>
      <div class="tab-pane" id="d">
        <%= render partial:'login_form', locals: { title: 'Admin', url: '#' } %>
      </div>
    </div>
  </div>
</div>
