<!-- Pato will make this look pretty

This is the login page. There will be a sidebar of
tabs that connect to the area where the user enters
his/her credentials (email and password). The tabs
should have images on them in the final product,
but for the demo we could have just text to show
which tabs correlate to which login state. There
will be four tabs: user, admin, agency, business.

-->

<h1>Welcome#login</h1>
<p>Find me in app/views/welcome/login.html.erb</p>
