<!-- Pato will make this look pretty

This is the search results page. This will
show the list of neighborhoods near the
address that was input by the user, but for the demo
we will use pre seeded neighborhoods so we do not
need to parse the data they input. There will be
a list of neighborhoods on the left and a fake
Google Maps image on the right. If we want, we can
populate with addresses.

-->

<h1><u>Neighborhoods</u></h1>
<br />

<% @neighborhoods.each do |n| %>
  <div class="row">
    <%= render n %>
  </div>
<% end %>
