<!-- Pato will make this look pretty

This is the opening page. We will need to have a
search bar and a confirm button, which will take the
user to the search.html.erb view. There will also be
a button for logging in, which will take the user to
the login.html.erb view.

-->

<div class='backDiv'></div>
	<div class="logIn">LOG IN</div>
	<div class="col-sm-4"></div>
	<div class="col-sm-4 ">
		<div class="input-group  mySearch">
		      <input type="text" class="form-control " placeholder="Search for...">
		      <span class="input-group-btn ">
		        <button class="btn btn-default" type="button">Go!</button>
		      </span>
		</div><!-- /input-group -->
	</div><!-- /.col-lg-6 -->
	<div>
</div>
