<!-- Pato will make this look pretty

This is the opening page. We will need to have a
search bar and a confirm button, which will take the
user to the search.html.erb view. There will also be
a button for logging in, which will take the user to
the login.html.erb view.

-->

<div class='backDiv'></div>
	<div class="logIn"><strong><%= link_to "LOG IN", welcome_login_path,:class =>"linkys" %></strong></div>
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
          <%= image_tag '1000.png', :class => '' %>
		<div class="input-group  mySearch">
		      <input type="text" class="form-control " placeholder="Search for your neighborhood">
		      <span class="input-group-btn ">
		        <button class="btn btn-default" type="button"><%= link_to "GO!", welcome_search_path,:class =>"linky" %></button>
		      </span>
		</div><!-- /input-group -->
	</div><!-- /.col-lg-6 -->
	<div>
</div>
