<%= month_calendar events: @events do |date, events| %>
  <div class="myDay"><%= date.day%></div>
  <ul class="infoEvent">
  <% @events.each do |event| %>
    <% if event.start_time.strftime("%B %d %Y") == date.strftime("%B %d %Y") && event.neighborhood_id == @current_member.neighborhood_id%>
      <li id="eventName"><%= event.name %>.</li>
    <% end %>
  <% end %>
  </ul>
<% end %>
