<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @event.body %>
</p>

<p>
  <strong>Neighborhood_Id:</strong>
  <%= @event.neighborhood_id %>
</p>

<p>
  <strong>User_Id:</strong>
  <%= @event.user_id %>
</p>
