<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @event.body %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @event.neighborhood.name %>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.user.name %>
</p>
