<%= render partial:'navbar'%>
<br />
<br />
<br />
<br />
<div class="container">
  <div class="col-md-6">
    <% @neighborhoods.each do |neighborhood| %>
      <p><%= neighborhood.name %></p>
      <%= button_to "Request", agency_join_request_url(@agency, neighborhood.id), class: :post %>
    <% end %>
  </div>
  <div class="col-md-6">
   <div id="bar-example"></div>
  </div>
</div>
