<%= render partial: 'navbar' %>
<br><br><br><br>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <%= render 'alerts/form' %>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <% @alerts.each do |alert| %>
      <%= render alert %>
    <% end %>
  </div>
</div>
