<div class="alert alert-danger" role="alert">
  <%= alert.body %>
  <br />
  <small>Last updated:
    <%= alert.updated_at.strftime("%A, %B #{alert.created_at.day.ordinalize} - %l:%M%P") %>
  </small>
</div>
