<div class="alert alert-danger" role="alert">
  Current severity: <%= alert.severity %>
  <br/>
  <p><%= alert.body %></p>
  <i>
    <small>Last updated:
    <%= alert.updated_at.strftime("%A, %B #{alert.created_at.day.ordinalize} - %l:%M%P") %>
    </small>
  </i>
</div>
