<div>
  <h3>Create Alert!</h3>
  <%= form_for(@alert) do |f| %>
    <div class="input-group">
    <hr>
      <div class="field">
        <%= f.text_field :body,placeholder:"Description", :class=>"myPost" %>
      </div>
      <hr>
        <div class="field">
          <%= f.number_field :severity,placeholder:"Severity",:class=>"myPost" %>
        </div>
      <hr>
      <div class="action">
         <%= submit_tag "Create Alert", class: 'btn linky' %>
      </div>
    </div>
  <% end %>
</div>

