<tr>
  <td class="col-md-8"><%= broadcast.body %></td>
  <td class="col-md-4">
    <%= button_to "Delete", neighborhood_broadcast_url(@current_member.neighborhood, broadcast), method: :delete %>
  </td>
</tr>
