<div class="alert alert-warning" role="alert">
  <%= broadcast.body %>
  <br />
  <small>
    <%= broadcast.created_at.strftime("%A, %B #{broadcast.created_at.day.ordinalize} - %l:%M%P") %>
  </small>
</div>
