<h1>Attention <%= @name %>!</h1>

<h4><%= @name %>,<h4>
<p>
  You have recently lost your role of lead user for the
    <%= @neighborhood %>
  neighborhood!<br>
  Don't forget about your neighborhood!
</p>
