<h1>Here's the password you requested - <h1>

<p>
  Your account requested a new password.<br /><br /><br />
  Your temporary password is: <b><%= @password %></b><br /><br /><br />
  You must use this new password to log in now.
</p>
