<div class="post">
  <h2><u><%= User.find(post.user_id).name %></u></h2>
  <p class="body"><%= post.body %></p>
  <p class="date"><small>
  <%= post.created_at.strftime("%A, %B #{post.created_at.day.ordinalize} - %l:%M%P") %>
  </small></p>
</div>
