<div class="post">
  <h2><u><%= post.user.name %></u></h2>
  <p class="body"><%= post.body %></p>
  <p class="date"><small>
  Category: <%= post.category.title %>
  <br />
  <i><small> <%= post.created_at.strftime("%A, %B #{post.created_at.day.ordinalize} - %l:%M%P") %></i></small>
  </small></p>
</div>
