<div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <b> <%= neighborhood.name %> </b>
    </div>
    <div class="panel-body">
      <div class="well well-lg">
        Community size: <%= neighborhood.users.count %>
      </div>
    </div>
  </div>
</div>
