<div>
  <div class="panel">
    <div class="panel-heading">
      <b> <%= neighborhood.name%> </b>
    </div>
    <div class="panel-body ih-item square effect6 from_top_and_bottom">
      <a href="#">
    <div class="info">
      <strong><p>Community size: <%= neighborhood.users.count %></p></strong>
      <p>Address: <%= neighborhood.address %></p>
    </div>
  </a>
    </div>
  </div>
</div>
