  <div class="">
    <%= image_tag(@current_member.image_url, :width => 120,:height=>120,class:"img-circle img-center col-xs-offset-3") if @current_member.image_url.present?  %>
    <br>
    <br>
    <div class="col-xs-offset-1">
      <p><b><%= @current_member.name%></b></p>
      <hr class="postComments">

      <% if @current_member.address.present? %>
        <p>Address: <%= @current_member.address%></p>
        <hr class="postComments">
      <% end %>

      <% if @current_member.role == 'lead' %>
        <p>Role: Leader <span class="glyphicon glyphicon-star"></span>
        </p>
      <% elsif @current_member.role == 'hoa' %>
        <p>Role: HOA <span class="glyphicon glyphicon-home"></span>
        </p>
      <% else %>
        <p>Role: Neighbor <span class="glyphicon glyphicon-user"></span>
        </p>
      <% end %>

      <hr class="postComments">

      <p>Points: <%= @current_member.points%></p>
      <hr class="postComments">
    </div>  
  </div>


