<%= render partial:'navbar'%>
<p id="notice"><%= notice %></p>
<br><br><br><br>

<div class="container">
  <ul class="nav nav-tabs">
    <li ><a href="#a" data-toggle="tab">Lead</a></li>

    <% if @current_member.hoa? %>
      <li class="active"><a href="#b" data-toggle="tab">Broadcast</a></li>
    <% end %>
  </ul>   
  <div class="tab-content">
    <div class="tab-pane" id="a">
      perspective users list
    </div> 

    <div class="tab-pane active" id="b">
      <%= render 'broadcasts/form' %>

      <%= render partial: 'broadcasts/admin_list', locals: { broadcasts: @broadcasts } %>
    </div>
  </div>
</div>
