// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hrPers{
	border-color: #3A66A7;
}
.approve{
	color: green;
}
.deny{
	color: red;
}
a.approve:hover{
	background-color: transparent;
	text-decoration: none;
}
a.deny:hover{
	background-color: transparent;
	text-decoration: none;
}