// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.simple-calendar {
  .day {
    //text-align: center;
    vertical-align: top;
    text-align: left;
    height: 80px;
    width: 80px;

    &:hover{
      background-color: #F9F9F9;
    }
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}


  .past {}
  .future {}

  .start-date {}


  .current-month {}

  .has-events {
    background-color: #C9C9F9;

    &:hover{
      background-color: #C2C2F0;
    }
  }
  .today {
    background-color: #F5F589;

    &:hover{
      background-color: #F5F57A;
    }
  }

  .prev-month {
    background-color: #f2f2f2;
  }
  .next-month {
    background-color: #f2f2f2;
  }

}

.tbody{
  overflow-y:auto
}

.selectable{
  .ui-selecting {
    background: #FECA40;
  }
  .ui-selected {
    background: #F39814;
    color: white;
  }
}

.squareCalendar{
  background: #3A66A7;
  padding-top: 60px;
  width: 200px;
  height: 150px;
  text-align: center;
  vertical-align: center;
  color: white;
}
.rectangleCalendar{
  background: #3A66A7;
  padding: 10px;
  padding-left: 10px;
  vertical-align: center;
  color: white;
  width: 100%;
  min-height: 150px;
}
#dayEvent{
  font-size: 120px;
}
#eventInfo{
  background: #ff4c4c;
  color: white;
  border-color:#ff4c4c; 
  resize: auto;
  font-size: 24px;
  outline: none !important;
  width: 400px;
  display:inline-block;
  font-weight: bold;
}
.scrolling{
  height: 600px;
  overflow-y: scroll;
}
.linkTo:hover{
  background-color: transparent;
  text-decoration: none;
}
a.linkTo{
    color: inherit;
}