// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.simple-calendar {
  .day {
    //text-align: center;
    vertical-align: top;
    text-align: left;
    height: 80px;
    width: 80px;

    &:hover{
      background-color: #F9F9F9;
    }
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}


  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background-color: #f2f2f2;
  }
  .next-month {
    background-color: #f2f2f2;
  }
  .current-month {}

  .has-events {
    background-color: #C9C9F9;

    &:hover{
      background-color: #C2C2F0;
    }
  }
  .today {
    background-color: #F5F589;

    &:hover{
      background-color: #F5F57A;
    }
  }
}

.tbody{
  overflow-y:auto
}

.selectable{
  .ui-selecting {
    background: #FECA40;
  }
  .ui-selected {
    background: #F39814;
    color: white;
  }
}

.square{
  height: 100 px;
  width: 100 px;
}
