// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group {
  border: 1px solid #F0F0F0;
  padding: 5px;
  margin: 5px;
  &.active {
    box-shadow: 5px 5px 5px #CDCDCD;
  }
}

.messages {
  height: 70vh;
  overflow-y: scroll;
}

.create-message {
  height: 10vh;
}

.message {
  border-top: 1px solid gray;

  .from {
    color: #308014;
  }
}
.user-tag {
  border: 1px solid black;
}
.boxy{
  border-right: 1px solid #F0F0F0;
}
.cm a.linkTo{
  background-color: transparent;
  text-decoration: none;
}
