// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 400px;
}

.background-div {
  z-index: -5;
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

.background-div img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.mySearch {
  margin-top: 10vh;
  position: relative;
  z-index: 100000;
  color:black;
}

.myImage {
  height: 60vh;
  display: block;
  margin: auto;
}

.backDiv{
  background-color: grey;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  overflow:hidden;
  opacity: .6 ;
  z-index: -1;
  color: black;
}

.logIn{
  margin-top: 9px;
  margin-left: 93%;
}

.linkys:visited, .linkys:link{
  padding: 5px 10px 5px 10px;
  color: white;
  cursor: pointer;
  text-align: center;
  height: 2em;
  width: 5%;
  border: 2px solid white;
  border-radius: 25px;
  color:white;
}

.linkys:hover{
  color:green;
  text-decoration: none;
  background-color: white;
}

.v-center {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

.spaced-out {
  margin: 5px;
}

/* custom inclusion of left tabs shamlessly copied from Skelly on Stack Overflow */

.tabs-left > div > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: inline-block;
}

.tabs-left > div > .nav-tabs > li {
  float: none;
}

.tabs-left > div > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > div > .nav-tabs {
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > div > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;

  font-size: 30px;
  color: green;
}

.tabs-left > div > .nav-tabs > li > a:hover,
.tabs-left > div > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > div > .nav-tabs .active > a,
.tabs-left > div > .nav-tabs .active > a:hover,
.tabs-left > div > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.box-shadow {
  background-color: #dddddd;
  box-shadow: 0 0 30px black;
  padding: 20px;
}
