// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 400px;
}

.background-div {
  z-index: -5;
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  color: white;
}

.background-div img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.mySearch {
  margin-top: 10vh;
  position: relative;
  z-index: 100000;
  color:black;
  left: 35%;
  width: 30%
}

.myImage {
  margin-top: 15%;
  height: 30vh;
  display: block;
  margin: auto;
}

.backDiv{
  background-color: black;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  overflow:hidden;
  opacity: .6 ;
  z-index: -1;
  color: black;
}
.backDiv2{
  background-color: #E8E8E8;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  overflow:hidden;
  opacity: .6 ;
  z-index: -1;
  color: #42526C;
}

.logIn{
  margin-top: 9px;
  margin-left: 93%;
}

.linkys:visited, .linkys:link{
  padding: 5px 10px 5px 10px;
  color: white;
  cursor: pointer;
  text-align: center;
  height: 2em;
  width: 5%;
  border: 2px solid white;
  border-radius: 25px;
  color:white;
}

.linkys:hover{
  color:#3A66A7 ;
  text-decoration: none;
  background-color: white;
}

.v-center {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

.spaced-out {
  margin: 5px;
}

.tabs-left > .nav-tabs > li{
  float: none;
   font-size: 40px;
}
.tabs-left > .nav-tabs > li > a{
  min-width: 74px;
  margin-right: 0;
  background-color:#3A66A7;
  color:white;
  font-size: 40px;
}
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  font-size: 40px;
}
.tabs-left > .nav-tabs .active > a,.tabs-left > .nav-tabs > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  min-width: 74px;
  background-color: white;
  color:#3A66A7;
  font-size: 40px;
}
.tab-content{
  padding-top: 2%;
  background-color: white;
  height: 22.4em;

}

.box-shadow {
  background-color: #dddddd;
  box-shadow: 0 0 30px black;
  padding: 20px;
}
.pass{
  margin-top: 5%;
  margin-bottom: 5%;
}
.xy{
  margin-top: 25%;

}
.myLogin{
  width:45%;

}
.btn{
  color: white;
  margin-top: 1%;
  background-color: #3A66A7;
}
#notice{
  color:red;
}
@media(min-width:767px) {
    .navbar {
        padding: 5px 0;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
    .navbar{
      background: black;
      color: white;
    }
    .navbar-nav{
      color:white;
    }
}

a{
  font-size: 16px;
}
p{
  font-size: 16px;
}
.hoods{
  border-color: #3A66A7;
}
.staff{
  margin-left: 10%;
}
.myFooter{
  background-color: #3A66A7;
  color: white;
  height: 10%;
}
.aboutTitle{
  color: #3A66A7;
}
.theTeam{
  font-size: 70px;
}